@import "../../scss/variable";
@import "../../scss/mixin";

#footer {
    background: #eaeaea;
    padding: 30px 0;
    text-align: center;
    font-size: 12px;
    @include mq("medium") {
        font-size: 14px;
        padding: 40px 0;
    }
    @include mq("large") {
        padding: 50px 0;
    }
    p {
        margin-bottom: 15px;
        line-height: 1.5;
        @include mq("medium") {
            margin-bottom: 20px;
        }
    }
}
