@import "../../scss/variable";
@import "../../scss/mixin";

#visual {
    .txt {
        margin-top: 50px;
        @include mq("medium") {
            margin-top: 80px;
        }
        @include mq("large") {
            margin-top: 160px;
        }
        .intro {
            position: relative;
            h2 {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.2;
                @include mq("medium") {
                    font-size: 36px;
                }
                @include mq("large") {
                    font-size: 55px;
                }
            }
            .highlight {
                position: relative;
                width: fit-content;
                &::after {
                    content: "";
                    display: inline-block;
                    background: rgba(252, 186, 19, 0.4);
                    width: 0%;
                    height: 24px;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    z-index: -1;
                    animation: highlight 0.6s ease-in-out forwards;
                    @include mq("medium") {
                        width: 0%;
                        height: 36px;
                    }
                    @include mq("large") {
                        width: 0%;
                        height: 48px;
                        bottom: 10px;
                    }
                }
            }
        }
        .typo {
            width: 255px;
            height: 76px;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            @include mq("medium") {
                width: 400px;
                height: 119px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            @include mq("large") {
                width: 585px;
                height: 174px;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            img {
                width: 255px;
                height: 76px;
                position: absolute;
                left: 0;
                top: -100%;
                animation: slideDown 0.6s 0.8s ease forwards;
                @include mq("medium") {
                    width: 400px;
                    height: 119px;
                }
                @include mq("large") {
                    width: 585px;
                    height: 174px;
                }
            }
        }
        .typing {
            position: relative;
            padding-bottom: 30px;
            font-weight: 100;
            font-size: 26px;
            font-style: italic;
            @include mq("medium") {
                font-size: 48px;
                padding-bottom: 50px;
            }
            @include mq("large") {
                font-size: 72px;
                padding-bottom: 80px;
            }
            .cover {
                display: block;
                background: $bg;
                width: 6px;
                height: 26px;
                position: absolute;
                left: 0;
                top: 0;
                animation: hide 0.1s 1.3s linear forwards;
                @include mq("medium") {
                    width: 12px;
                    height: 48px;
                }
                @include mq("large") {
                    width: 16px;
                    height: 72px;
                }
            }
        }
    }
}

@keyframes highlight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideDown {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
