@import "../scss/variable";
@import "../scss/mixin";

#header {
    width: 100%;
    height: 60px;
    overflow: hidden;
    // position: fixed;
    position: sticky;
    background: var(--bg);
    // z-index: 97;
    @include mq("medium") {
        width: 100%;
        height: 80px;
    }
    .container {
        padding: 0 10px;
        position: relative;
        @include mq("medium") {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 100%;
        }
        @include mq("large") {
            padding: 0 15px;
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .logo {
        width: 100px;
        margin-top: 13px;
        @include mq("medium") {
            width: 140px;
            // margin-top: 15px;
            margin-top: 0;
            // display: inline-block;
        }
    }

    .shadow {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        transition: opacity 0.4s;
        opacity: 0;
        z-index: 98;
        @include mq("medium") {
            display: none;
        }
    }

    .nav {
        font-size: 18px;
        position: fixed;
        right: -100%;
        top: 0;
        width: 80%;
        height: 100%;
        min-height: 100vh;
        background: #fff;
        padding-top: 100px;
        text-align: center;
        transition: right 0.4s;
        z-index: 99;
        overflow-y: auto;
        @include mq("medium") {
            font-size: 16px;
            position: static;
            width: auto;
            // height: auto;
            // min-height: auto;
            background: none;
            padding-top: 0;
            text-align: unset;
            // float: right;
            // margin-top: 18px;
            display: flex;
            align-items: center;
        }
    }

    .gnb {
        @include mq("medium") {
            width: fit-content;
            display: flex;
            justify-content: flex-end;
            text-align: center;
        }
        li {
            padding: 15px 0;
            font-weight: 700;
            @include mq("medium") {
                padding: 15px 10px;
                margin-left: 20px;
            }
            &.mobile {
                font-weight: 400;
                font-size: 14px;
                @include mq("medium") {
                    display: none;
                }
                i {
                    margin-right: 10px;
                }
            }
            a {
                // padding: 15px 0;
                // @include mq("medium") {
                //     padding: 15px 10px;
                // }
                &.active,
                &:hover {
                    color: $main;
                }
            }
        }
    }

    .hamburger {
        width: 45px;
        height: 42px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: -3px;
        z-index: 100;
        transition: transform 330ms ease-out;
        @include mq("medium") {
            display: none;
        }
        .menu {
            background: #141414;
            border-radius: 2px;
            width: 100%;
            height: 2px;
            &.half {
                width: 50%;
            }
            &.first {
                transition: transform 330ms
                    cubic-bezier(0.54, -0.81, 0.57, 0.57);
                transform-origin: right;
            }
            &.last {
                align-self: flex-end;
                transition: transform 330ms
                    cubic-bezier(0.54, -0.81, 0.57, 0.57);
                transform-origin: left;
            }
        }
        /*Hamburger Animation*/
        &.active {
            transform: rotate(-45deg);
            .menu.first {
                transform: rotate(-90deg) translateX(3px);
            }
            .menu.last {
                transform: rotate(-90deg) translateX(-3px);
            }
        }
    }
    &.on {
        .nav {
            right: 0;
        }
        .shadow {
            width: 100vw;
            opacity: 1;
        }
    }
}
